html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #FFFFFF;
}


main{
  padding: 2rem;
}

.recipes-main{
  display: flex;
  flex: 1 1 200px;
  gap: 1rem;
}